Kamisado/Kamisado.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Kamisado/Kamisado.xcodeproj/project.xcworkspace/xcuserdata/max.xcuserdatad/UserInterfaceState.xcuserstate
Kamisado/Kamisado.xcodeproj/project.xcworkspace/xcuserdata/max.xcuserdatad/WorkspaceSettings.xcsettings
Kamisado/Kamisado.xcodeproj/xcuserdata/max.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Kamisado/Kamisado.xcodeproj/xcuserdata/max.xcuserdatad/xcschemes/Kamisado.xcscheme
Kamisado/Kamisado.xcodeproj/xcuserdata/max.xcuserdatad/xcschemes/xcschememanagement.plist
